.sidenav {
    height: calc(100vh - 91px);
    // height: 100vh;
    // position: fixed;
    width: 117px;
    background-color: $primary-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__icons {
        display: flex;
        flex-direction: column;

    }
    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 64px;
        height: 64px;
        background-color: white;
        border-radius: 6px;
        margin-bottom: 20px;
        cursor: pointer;

    }
    &__copyright {
        color: white;
        font-size: 12px;
        position: absolute;
        bottom: 95px;
        transform: rotate(-90deg);
        // transform-origin: top left;
        // transform: rotate(-90deg);
        // position: absolute;
    }

}